/* ~~~~~~~~~~~~~~ CALLBACK ~~~~~~~~~~~~~~~ */

.callback__form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.callback__title {
  font-family: 'open_sansregular', Arial, sans-serif;
}
